.card-main{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    padding: 2em 20%;
}
.offer-btn{
    padding: 5px 15px;
    background: #fed045;
    font-size: 18px;
}
@media screen and (max-width:780px) {
    .card-main{
        flex-direction: column;
        justify-content: flex-start;
    }
    .card-body{
        margin-right: 2em
    }
}